.header__up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 10.9rem;
  height: 5.3rem;
}

.whitebox_icon {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.search__form {
  position: relative;
  display: flex;
  align-items: center;
}

.search_input_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

input[type="search"] {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 1rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  border: 3px solid #e48e33;
}

.logo__menu__icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__down.dark.row {
  background-color: #000;
  padding: 1.9rem 0;
  display: flex;
}

.menu__icon {
  display: none;
}

.header__down.light.column {
  background-color: #fff;
  padding: 1.9rem 0;
  display: flex;
}

.nav.close {
  display: contents;
}

.header__down.row.light {
  background-color: #fff;
}

.header__down.active {
  display: flex;
  flex-direction: column;
}

.header__down.column.light {
  flex-direction: column;
}

.header__down.light .navlink:hover {
  color: #e48e33;
}

.header__down.row.dark > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: relative;
}

.header__down.column.dark > .container {
  display: flex;
  flex-direction: column;
}

.nav.close .list__of__navlink {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  list-style: none;
  text-decoration: none;
}

.navlink {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.95rem;
  text-decoration: none;
}

.navlink:hover {
  color: #e48e33;
}
.header__down.light .navlink {
  color: #000;
}

.searchbutton {
  /* padding: 0.8rem 1.2rem; */
  gap: 1rem;
  border-radius: 0.4rem;
  border: 3px solid #e48e33;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-color: #000;
}

.search {
  width: 2rem;
  height: 2rem;
}

.menu__icon {
  display: none;
}

.menu_whitebox_icon {
  display: none;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
}

.header__down.row.light > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__down.column .whitebox_icon {
  display: flex;
}

@media screen and (max-width: 320px) {
  .header__down.row.light > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__down.dark.row {
    display: none;
  }
  .header__down.light > .container {
    flex-direction: column;
  }

  .header__down.active {
    display: block;
  }
  .menu__icon {
    display: block;
    cursor: pointer;
    font-size: 3.3rem;
  }

  .nav.open .search__form {
    display: flex;
    width: 80%;
    justify-content: center;
  }

  .nav.open .search__form > .search_input_container {
    width: 100%;
  }
  .nav.open {
    height: auto;
    flex-direction: column;
  }

  .nav.open ul {
    display: block;
    text-align: center;
    margin: 2rem 0;
  }

  .nav_whitebox_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .search__form {
    margin-bottom: 1rem;
  }

  .nav.open {
    flex-direction: column;
  }
  .nav.close {
    display: none;
  }

  .nav.open .list__of__navlink {
    flex-direction: column;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .nav.open .list__of__navlink .navlink {
    color: #000;
  }

  .nav.open .search__form {
    display: block;
  }

  .whitebox_icon {
    display: none;
  }

  .header__down.column.light .menu_whitebox_icon {
    display: flex;
  }
}
